@model AdvancedForms.ViewModels.AdvancedFormViewModel

@{
    Layout = null;
}

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="/AdvancedForms/Styles/formio.full.min.css">
<script src="/AdvancedForms/Scripts/formio.full.min.js"></script>

<style>
    .wrapper {
        text-align: center;
    }

    .button {
        position: absolute;
    }
</style>

<script type='text/javascript'>
    window.onload = function() {
        Formio.createForm(document.getElementById('formio'),
            //create the form from saved data
            @Html.Raw(Model.Container)
           ,{readOnly: true, viewAsHtml: true}
        ).then(function(form) {
            //fill form data
            form.submission = {
                @if (!String.IsNullOrEmpty(Model.SubmissionId))
                {
                    string submission = "data:" + Html.Raw(Model.Submission);
                    @Html.Raw(submission);
                }
            };
        });
    };

    function screenPrint() {
        document.getElementById('printButton').style.visibility = 'hidden';
        window.print();
    };
</script>

<div class="wrapper">
    <button id="printButton" style="font-size:24px" onclick="screenPrint();">Print&nbsp;<i class="fa fa-print"></i></button>    
</div>

<h1>@Model.Title</h1>

<div id='formio'></div>


